<h1>Reservation List</h1>

<div class="reservation-list">
  {{#each reservations}}
    <div class="reservation-box {{statusClass status}}">
      <div class="info">
        <p><strong>Student:</strong> {{student}}</p>
        <p><strong>Lab:</strong> {{lab}}</p>
        <p><strong>Seat:</strong> Row {{row}}, Column {{column}}</p>
        <p><strong>Time:</strong> {{time_start}} - {{time_end}}</p>
        <p><strong>Date:</strong> {{date}}</p>
        <p><strong>Created At:</strong> {{createdAt}}</p>
        <p class="status"><strong>Status:</strong> <span class="status {{statusClass status}}">{{status}}</span></p>
      </div>
          {{#unless isPast}}
          <div class="actions">
            <button class="edit-btn">Edit</button>
            {{#if showDelete}}
              <button class="delete-btn">Delete</button>
            {{else}}
              <button class="delete-btn disabled" disabled>Delete</button>
            {{/if}}
          </div>
        {{/unless}}
    </div>
  {{/each}}
</div>